@import "common";

:host {
  background-color: color("background");
  color: color("white");
}

.footer {
  margin: 0 auto;
  padding: calc-spacing(2) 0;

  &__content {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    @include max-content-width;
  }
}
