<div>
  <div *ngFor="let item of groupingChoices">
    <input
      type="radio"
      name="grouping"
      [value]="item"
      [checked]="activeChoice === item"
      (click)="activeChoice = item"
    />
    <label for="grouping">{{ item }}</label>
  </div>
</div>

<ng-container *ngIf="postGroupedByKey$ | async as groupedPosts">
  <div *ngFor="let group of groupedPosts">
    <button type="button" (click)="group.open = !group.open">
      {{ activeChoice }} : {{ group.name }}
    </button>
    <div *ngIf="group.open">
      <div *ngFor="let post of group.items">
        <button type="button" (click)="post.open = !post.open">
          {{ post.summary }}
        </button>
        <div *ngIf="post.open">
          <h2>
            {{ post.author }}
          </h2>
          <p>
            {{ post.text }}
          </p>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<router-outlet></router-outlet>
