@import "common";

:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page {
  flex-grow: 1;

  &__content {
    margin: calc-spacing(2) auto calc-spacing(3);

    @include max-content-width;
  }
}
