@import "common";

.button {
  background-color: color("accent");
  border-radius: calc-spacing();
  color: color("white");
  display: block;
  padding: calc-spacing(2);
  transition: background-color 200ms ease-in-out, color 200ms ease-in-out;

  &:hover {
    background-color: color("accent-light-20");
  }

  &__open {
    background-color: color("main");

    &:hover {
      background-color: color("main-light-20");
    }
  }
}
