<div class="post">
  <div class="post__content">
    <h2>{{ post.author }}</h2>
    <p class="post__date">
      {{ post.location }} - {{ post.date | date: "dd/MM/yyyy" }}
    </p>
    <p class="post__text">
      {{ post.text }}
    </p>
    <app-button
      class="post__edit-cta"
      [open]="editing"
      (clicked)="editing = !editing"
    >
      {{ editing ? "Close" : "Edit" }}</app-button
    >

    <div class="post__edit" *ngIf="editing">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="post__edit__controls">
          <div *ngFor="let field of editableFields">
            <label class="post__edit__label" [for]="field">{{ field }}</label>
            <input
              class="post__edit__input"
              type="text"
              [formControlName]="field"
            />
            <p
              class="post__edit__error"
              *ngIf="
                !form.valid && form.dirty && submitted && !form.get(field).valid
              "
            >
              {{ field }} cannot be empty
            </p>
          </div>
        </div>
        <app-button class="post__edit__cta" (clicked)="onSubmit()"
          >Save changes</app-button
        >
      </form>
    </div>
  </div>
</div>
