@import "common";

.post {
  &__date {
    font-size: calc-fz(0.8);
  }

  &__text {
    margin-top: calc-spacing(2);
  }

  &__content {
    background-color: color("grey");
    border-radius: calc-spacing(1);
    color: color("white");
    margin: calc-spacing(2) 0 0 calc-spacing(2);
    padding: calc-spacing(2);
  }

  &__edit-cta {
    display: block;
    margin-top: calc-spacing(2);
  }

  &__edit {
    border: 1px solid color("white");
    border-radius: calc-spacing(1);
    margin-top: calc-spacing(2);
    padding: calc-spacing(2);

    &__controls {
      display: grid;
      grid-gap: calc-spacing(2);
      grid-template-columns: 1fr 1fr;
    }

    &__error {
      color: color("accent");
    }

    &__label {
      text-transform: capitalize;
    }

    &__input {
      background-color: color("white");
      border-radius: calc-spacing(1);
      color: color("grey");
      display: block;
      margin-top: calc-spacing(1);
      padding: calc-spacing(2);
      width: 100%;
    }

    &__cta {
      display: block;
      margin-top: calc-spacing(2);
    }
  }
}
